<%- include("partials/nav", {user: user}) %>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <h1 class="text-center mb-3">Policies</h1>
    </div>
</div>
</div>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Validity</th>
        <th scope="col">Company</th>
        <th scope="col">Cost</th>
        <th scope="col">AgentName</th>
    </tr>
    </thead>
    <tbody>
    <% let c=1 %>
    <% for(let i=0; i<policy.length; i++){ %>
        <% if(policy[i].approve==1){%>
    <tr>
        <th scope="row"><%= c++ %></th>
        <td><a href="/policy/get/<%= policy[i]._id %>"><%= policy[i].name%></a></td>
        <td><%= policy[i].validity %> years</td>
        <td><%= policy[i].company%></td>
        <td>₹ <%= policy[i].cost%></td>
        <td><%= policy[i].AgentName %></td>
    </tr>
    <% }} %>
    </tbody>
</table>
<%- include("partials/footer") %>